# Auto detect text files and perform LF normalization
* text=auto
*.h5 filter=lfs diff=lfs merge=lfs -text
*.qt filter=lfs diff=lfs merge=lfs -text
Models/*.qt filter=lfs diff=lfs merge=lfs -text
Models/*.h5 filter=lfs diff=lfs merge=lfs -text
Models/VGG16_batchsize=32_epo=10.h5 filter=lfs diff=lfs merge=lfs -text
/Models/model_unet_vgg_16_best.pt filter=lfs diff=lfs merge=lfs -text
/PredictImage filter=lfs diff=lfs merge=lfs -text
/sample.txt filter=lfs diff=lfs merge=lfs -text
/test.ipynb filter=lfs diff=lfs merge=lfs -text
