numpy
scipy==1.9.3
scikit-learn
matplotlib
pandas
fastapi
uvicorn==0.20.0
gunicorn==19.9.0
httptools
Pillow==9.3.0
tensorflow-cpu
pydantic
fastapi
pathlib==1.0.1
keras.models
tensorflow
torch
torchvision==0.15.1
tqdm==0.4.6
json
requests
